ul{
    margin: 0;
    list-style: none;    
    padding: 0;
    }    
    
    a{
    text-decoration: none;
    }
    
    img{
    display: block;
    }
    
    address{
    font-style: normal;
    }
    
    button{
    border: none;
    cursor: pointer;
    }
    
    h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    }